.bookElement
{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    padding: 10px;
}
.bookImg
{
   width: 180px;
   height: 254px;
   border-radius: 10px;
}
.author
{
    font-weight: bold;
}
.bookText
{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.smallButton
{
    align-self: flex-start;
    font-size: 0.8rem;
    padding: 8px 15px;
    margin-top: 30px;
}
.topText
{
    height: 80%;
}
.bookText p
{
    margin-bottom: 5px;
}
.bookText h2
{
    margin: 0;
}
.bookTitle
{
    all: unset;
    font-weight: bold;
    font-size: 1.7rem;
}
.bookTitle:hover 
{
    all: unset;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    
}
.backgroundlight:hover
{
    background-color: #d5c9d258;
    border-radius: 10px;
}
.backgrounddark:hover
{
    background-color: #2e252cc5;
    border-radius: 10px;
}
.warningmsg
{
    color: red;
}