.browseBody
{
    padding-top: 6vh; 
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    width: 80%;
}
.formContainerdark
{ 
    background-color: #342B32;
    padding: 40px;
    border-radius: 0 0 20px 20px;
}
.formContainerlight
{ 
    background-color: #D5C9D2;
    padding: 40px;
    border-radius: 0 0 20px 20px;
}
.authorKeywordContainer, .formLangContainer, .advancedSearch, .titleInput
{
    display: flex;
    flex-direction: column;
    
}
.topFormContainer
{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.deleteButton
{
    all:unset;
    color: red;
    position: absolute;
    right: 15px;
    top: 8px;
    
}
.genreInputParent
{
    position:relative;
}
.primaryInput
{
    height: 40px;
    border-radius: 8px;
    border: 0px;
    font-size: 0.9rem;
    width: 300px;
    padding: 10px;
}
.primaryInput:active, .primaryInput:focus
{
    outline: 2px solid #E48AD2;
}
label
{
    margin: 14px 0px;
    font-size: 0.9rem;
}
.formLangContainer select
{
    width: 140px;
}
.titleContainer
{
    display: flex;
    margin-bottom: 40px;
    
}
.mobTitleContainer
{
    flex-direction: column;
}
.mobileContainer
{
    display: flex;

}
.titleContainer button
{
    all: unset;
    align-self: flex-start;
    margin-top: 60px;
    margin-left: 15px;
    
}

#advancedSearch
{
    
    margin-left: 55px;
    
}

.arrow
{
    margin-left: 0.3rem;
}
.links
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links button
{
    all:unset;  
    font-size: 1.4rem;
    padding: 15px 30px;
}
.linkHoverlight
{
    color: #716666;
}
.linkHoverlight:hover
{
    color: #692E5D;
}
.linkHoverdark:hover
{
    color: #E48AD2;
}

.links .currentlyOpendark
{
    background-color: #342B32;
    border-radius: 20px 20px 0 0;
    color: #E48AD2;
}
.links .currentlyOpenlight
{
    background-color: #D5C9D2;
    border-radius: 20px 20px 0 0;
    color: #692E5D;
}
.browseBody h2
{
    margin-bottom: 10vh;
}
.genresContainer
{
    display: flex;
    width: 515px;
    
}
.plusIcon
{
    margin-top: 62px;
 
   
}
.formButton
{
    margin: 40px auto 10px auto;
}
.hidden
{
    display: none;
}
.renderedInputs
{
    display: flex;
    flex-wrap: wrap;
    
}
.warningText
{
    color: red;
    font-size: 0.85rem;
    padding-top: 8px;
}
.genreButton
{
    border-radius: 45px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.300);
    margin:6px 12px 6px 0;
    padding: 6px 13px;
}
.genreButton:hover
{
    background-color: #6D626C;
    color: white;
}
.two
{
    text-align: center;
    padding-top: 50px;
    font-size: 1.1rem;
}
.light 
{
    background-color: #F1EAF0;
    color: #3f3939;
}
.light:hover
{
    background-color: #c79ec1;
    color: white;
}
.dark 
{
    background-color: #2E252D;
}
.results
{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.totalResults
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.fetchAmount
{
   
    position: absolute;
    left: 125px;
    top: 3px;
    border-radius: 5px;
}
.pageTurnButton
{
   display: flex;
   justify-content: flex-end;
   
}
.previousPageButton, .nextPageButton
{
    font-size: 1rem;
}
.previousPageButton:hover, .nextPageButton:hover
{
    text-decoration: underline;
}
.pagelight
{
    color: #716666;
}
.pagelight:hover
{
    color: #716666;
}
