.aboutPageHeader h1
{
    font-size: 40px;
}
.aboutPageHeader
{
    width: 80%;
    max-width: 800px;
    
}
.aboutPageHeader ul
{
   list-style-type: square;
   margin-bottom: 4vh;
}
.aboutPageHeader li
{
    font-size: 20px;
    margin-bottom: 0.5rem;
}
.arrowUp
{
    height: 14px;
}
.buttonContainer
{
    display: flex;
    gap: 40px;
}