.bookDetails
{
    display: flex;
    width: 80%;
    max-width: 1100px;
    margin: 0px auto;
    padding-top: 50px;
    gap: 50px;
}
.bookDetailImg
{
    width: 200px;
    height: 295px;
    border-radius: 4px;
    align-self: center;
}
.bookLeftColumn
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.bold 
{
    font-weight: bold;
}
.showButton 
{
    all:unset;
    padding-left: 4px;
    opacity: 0.7;
    
}
.showButton:hover 
{
    text-decoration: underline;
}
.error
{
    width: 100vw;
    height: 93vh;
    padding: 50px;
}
