
main
{
    background-color: #191418;
    color: white;
    padding-bottom: 200px;
}
.homePageHeader
{
    padding-top: 15vh; 
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    width: 80%;
}
.homePageHeader h1
{
    font-size: 55px;
    margin-bottom: 50px;
}
.homePageHeader p
{
    margin-bottom: 4vh; 
    font-size: 20px;
}
.primaryButtonArrow
{
    color: white;
    margin-left: 6px;
    width: 12px;
}
.buttonLink
{
    width: 150px;
}