*
{
    box-sizing: border-box;
}

.primaryButton
{
    all:unset;
    display: flex;
    background-color: #E48AD2;
    font-weight: 500;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 20px;
    justify-content: center;
    align-items: center;

}
.primaryButton:hover
{
    background: #692E5D;
    color:white;
    cursor:pointer;
}