*
{
    box-sizing: border-box;
    font-family: 'Nunito';
}

.primaryButton
{
    all:unset;
    display: flex;
    font-weight: 500;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 20px;
    justify-content: center;
    align-items: center;

}
.primaryButton:hover
{
    color:white;
    cursor:pointer;
}
.buttonlight
{
    background-color: #692E5D;
}
.buttondark
{
    background-color: #E48AD2;
}
.buttonlight:hover
{
    background-color: #E48AD2;
}
.buttondark:hover
{
    background-color: #692E5D;
}
#light
{
    background-color: #F1EAF0;
    color: #716666;
}
#dark
{
    background-color: #191418;
}